#hero {
  background-color: #e8f0fe99;
}

h1 {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#tencent-logo {
  height: 14px;
}

.d-block {
  border-radius: 10%;
}

.profile-img {
  height: 14rem;
  border-radius: 50%;
}

#footer {
  background-color: #e8f0fe99;
}
